{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

{% block navbar %}
    {% include "inc/_nav.html" %}
{% endblock %}

{% block left-side-settings %}
{% endblock %}

{% block content %}
{% endblock %}



{#<script type="module" src="{% static 'js/main.js' %}"></script>#}
{#<script type="module" src="{% static 'js/item.js' %}"></script>#}
</body>

</html>