<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/static.css">

    <title>Add ship</title>
</head>

<body>
    <div class="content_create-page">
        <nav class="navbar">
            <ul class="nav-items">
                <li class="nav-item"><a href="../index.html">My Hangar</a></li>
                <li class="nav-item"><a href="../index.html">My Ship</a></li>
                <li class="nav-item active"><a href="create_page.html">Add Ship</a></li>
            </ul>

            <form class="nav-form">
                <input type='text' placeholder="Type something...">
                <button class="search">Search</button>
                <button class="clear">Clear</button>
            </form>


        </nav>

        <form class="create_ship">
            <h1>Add Ship</h1>
            Name
            <input type="text" id="name-input">
            Tonnage
            <input type="text" id="tonnage-input">
            Amount of passangers
            <input type="number" id="amount-input">

            <button id="submit-button">Submit</button>

        </form>
    </div>
    <main class="cards" id="cards">
               <!-- cards here -->
    <!-- </main> -->
    <!-- <script type="module" src="../static/js/main.js"></script> -->
    <!-- <script type="module" src="../static/js/item.js"></script> -->

<!-- </body> -->

<!-- </html> --> 